<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-3">
          <h2>User Info</h2>
           <%= image_tag('profile.jpg') %>
          <table class="table">
            <tr>
              <th>name</th>
              <td><%= users.name %></td>
              </tr>
            <tr>
              <td>Introduction</td>
              <td><%= users.introduction %></td>
            </tr>
          </table>
          <div class="row">
          <%= link_to 'Introduction',edit_user_path, class:'btn btn-outline-secondary btn-block fas fa-user-cog'%>
          </div>

          <%= end %>