<main>
<%= render 'users/list', users: @users %>
          <h3>New Book</h3>
          <%= form_with model:@book, local:true do |f| %>

        <p>title</p>
        <%= f.text_field :title %>

        <p>Option</p>
        <%= f.text_area :body %>
        <div>

        <%= f.submit 'Create book' , class:'btn btn-success' method :post %>
        </div>

        <% end %>


        </div>
    <div class="col-md-8 offset-md-1">
          <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <table>
            <tr>
              <th>
                title
              </th>
              <th>options</th>
            </tr>
             <% @users.each do |user| %>
            <tr>
              <td><%= @user.image_tag('profile.jpg') %></td>
              <td><%= @user.name %></td>
              <td><%= link_to 'show' %></td>
            </tr>
             <% end %>
          </table>
        </div>
        </div>
      </div>
      </div>
</main>