<main>
  <%= render 'users/list', users: @users %>
          <h3>New Book</h3>
          <%= form_with model:@book, local:true do |f| %>

        <p>title</p>
        <%= f.text_field :title %>

        <p>Option</p>
        <%= f.text_area :body %>
        <div>

        <%= f.submit 'Create book', class:'btn btn-success' %>
        </div>

        <% end %>


        </div>
    <div class="col-md-8 offset-md-1">
          <div class="col-md-8 offset-md-1">
          <h2>Book</h2>
          <table class="table table-hover table-inverse">
            <tr>
              <th>
                title
              </th>
              <th>options</th>
            </tr>
             <% @books.each do |book| %>
            <tr>
              <td><%= image_tag('profile.jpg') %>
              <%= @users.name %></td>

              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <td class="btn btn-sm btn-success"><%= link_to "edit", edit_book_path(@book.id) %></td>
              <td class="btn btn-sm btn-danger"><%= link_to "destroy",book_path(@book),method:delete %></td>
            </tr>
             <% end %>
          </table>
        </div>
        </div>
      </div>
      </div>
</main>