<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <body>
        <header>
            <%= flash[:alert] %>

              <% if user_signed_in? %>
      <li>
        <%= link_to "Booker2", root_path, class: 'nav-link text-dark' %>
      </li>
        <li>
        <%= link_to "Home", root_path, class: 'nav-link text-dark' %>
      </li>
      <li>
        <%= link_to "About", homes_about_path, class: 'nav-link text-dark' %>
      </li>

      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
      </li>
    <% else %>
      <li>
        <%= link_to "sign_up", new_user_registration_path, class: 'nav-link text-dark' %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
      </li>
    <% end %>
        </header>
  <main>
    <%= flash[:success] %>
  </main>

    <footer >
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    <%= yield %>
  </body>
</html>
